body {
    width: 1564px;
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 32px 24px;
}

/*** Header Desktop ***/
.desktop {
    height: 64px;
    background-color: white;
    align-items: baseline;
    width: 100%;
}

.main {
    background-color: white;
    width: 100%;
}

.flex-container {
    display: flex;
    margin: 32px 16px; 
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 34%;
}

#logo {
    height: 32px;
}

.desktop nav ul {
    display: inline-flex;
    align-self:flex-end;
    list-style: none;
    margin-right:  24px;
    width: auto;
}

.desktop li {
    margin: .5rem;
    text-decoration: none;
}


.media-left {
    width: 41rem;
}


h1 {
    color: #211e1ebd;
    font-weight: 1000;
    font-size: 2rem;
}

h3, p {
    color: #635d5dc0;
    font-weight: 800;
    font-size: 1.1rem;
    position: left;
}

/*** First Section: Presentation ***/
.banner {
    background-color: lightgrey;
    padding: 32px 24px;
    margin: 0;
    border-color: lightgrey;
}

.banner .media-left {
    height: 28rem;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
}


.flex-container #presentation {
    display: flex;
    font-weight: 150;
    margin-left: 24px;
    justify-content: center;
}

#presentation h1, h3 {
    width: 19rem;
}

#presentation button{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(206, 199, 199, 0.87);
    background-color: rgb(59, 56, 56);
    width: 19rem;
    height: 2.5rem;
}

/*** Second Section: Practicing: ***/
/* sheme= flex-container practicing:
 [flex-container left-part          flex-container column-right (= div ruban X3)
        img                           ruban : img       flex-container content:h2
        h1                                                                      p
                                                                                a
        p                             ruban : img       flex-container content:h2
                                                                                p
        em                                                                      a
                                      ruban : img       flex-container content:h2
                                                                                p
                                                                                a *****/
      
.practicing {
    background-color: rgba(225, 225, 225, 0.51);
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 1070px;
    margin: 0;
    padding: 32px 16px;
    padding-bottom: 0;
    border-color: lightgrey;
}

.left-part {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 24px;
    margin-bottom: 0;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    margin-right: 72px;
    margin-bottom: 0;
}


.left-part media-left {
    height: 14rem;
}

.left-part h1, p {
    width: 40rem;
    margin: 32px 0;
}

.left-part span {
    font-size: .8rem;   
}

.ruban {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 620px;  
    height: 28%;
    padding: 8px;
    font-weight: 150;
    margin: 0
}

.Oli {
    background-color: lightgrey;
    margin-right: 0;
    padding-right: 70px;
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    padding: 0;
    margin-left: 16px;
    margin-top: 0;
}


.content h2 {
    color: #555151e0;
    font-weight: 700;
    text-align: left;
    padding: 0;
}

.ruban .content p {
    color: #968f8ff5;
    font-size: 1rem;
    text-align: left;
    padding: 0;
    margin: 0;
}

.right-part a{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(135, 211, 236);
    width: 16rem;
    height: 2rem;
    margin: 0;
    padding: 0;
}

/****** Starting learning section *************/

#learn {
    height: 1225px;
    padding: 32px 72px;
    margin: 0;
    background-color: rgba(226, 222, 222, 0.863);
    border-color: lightgrey;
    text-align: center;
}

.learning-blocks { 
    display: grid; 
    width: 1356px; 
    height: 1000px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr); 
    grid-column-gap: 32px; 
    padding-bottom: 32px;
}

.block {

    display: flex;
    flex-direction: column;
    padding: 0; 
    background-color: white;
    text-align: left;
}

.block img {
    width: 100%;
    height: 150px;
    align-self: center;
    margin: 0;
    padding: 0;
}

.col {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 300px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    margin:0;
}

.col h2 {
    color: rgb(88, 86, 86);
    text-align: initial;
    text-align: left;
    padding: 0;
}
.col h3 {
    max-width: 85%;
    font-size: 20px;
    font-weight: 500;
    color: rgb(156, 151, 151);
    padding: 0;   
}

/************** Thesis exhibit ****************/
.thesis {
    width: 100%;
    height: 750px;
    padding-top: 32px;
    margin: 0 24px 0 0;
    background-color: rgba(225, 225, 225, 0.51);
    border-color: lightgrey;
}

.thesis h1 {
    text-align: center;
}

.thesis h2 {
    color: #555151e0;
    margin-top: 24px;
}

.thesis p {
    margin: 0;
    color: #968f8ff5;
}

.exhibit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 98%;
    margin: 0;
    padding-left: 24px;
    border-color: lightgrey;
    text-align: flex-start;
}


.left-part media-video {
    margin: 0;
    padding: 0;
}

.exhibit .ruban {
    margin-left: 0;
}

.exhibit .ruban img {
    width: 150px;
    height: 150px;
}

#fisma {
    width: 400px;
    clear: both;
    margin-left: 16px;
}

#now {
    width: 350px;
    clear: both;
    margin-left: 16px;
}

#detail {
    width: 335px;
}

footer {
    width: 100%;
    height: 104px;
    margin: 0;
    display: inline-block;         
    align-items: baseline;
    background-color: rgba(225, 225, 225, 0.51);
    border-top-color: #3b3737f5;
}
    #rights {
        margin: 0;
        display: inline-block;
        text-align: left;
        font-size: 16px;
        padding: 48px 32px 24px 16px ;
    }

    #terms {
        margin: 0;
        display: inline-block;
        text-align: right;
        font-size: 16px;
        
    }
